body {
    box-sizing: border-box;
    padding: 20px 10rem;
 
}
.bar {
    position: absolute;
    height: 200%;
    width: 70%;
    background-color:  white;
    display: none;
    right: 0;

   
}

.icon:hover > .bar {
    display: flex;
    z-index: 1;

}
.icon:hover {
    
        margin-top: 40px;
    
}

.navbar {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}
.navbar .icon {
    display: none;
}
.navbar .lists {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navbar .lists a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-size: 14px;
    font-family: sans-serif;
}
.navbar .lists li {
    margin-left: 30px;
}
.navbar .lists li:hover a {
    color: hsl(35, 77%, 62%);
}
.container {
    display: flex;
    flex-direction: row;
  

}
.cont {
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
}
.cont .content {
    max-width: 100%;
    border-radius: 5px;
}
.desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}
.desc .title {
    width: 50%;
}

.desc .title h1 {
    font-size: 45px;
    font-weight: 900;
    text-align: left;
    color: hsl(240, 100%, 5%);

}
.desc .text {
  
    justify-content: center;
    margin-top: 20px;
    width: 48%;
}
.desc .text p {
    font-size: 15px;
    color: hsl(236, 13%, 42%);
    font-family: Verdana, Geneva, Tahoma, sans-serif

}
.desc .text button {
   
   padding: 10px 25px;
   color: white;
   font-weight: bold;
   border-style: none ;
   background-color: hsl(5, 85%, 63%);
   border-radius: 3px;
   letter-spacing: 2px;
   transition: 0.3s;
}
.desc .text button:hover {
    background-color: hsl(240, 100%, 5%);;
}
.energy {
    margin-left: 20px;
    background-color: hsl(240, 100%, 5%);
    color: white;
    padding-left: 30px;  
    border-radius: 5px;
    flex-basis: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new h1 {
    color:  hsl(35, 77%, 62%);
    margin-top: 0;
}
.energy div h3 {
    transition: 0.3s;
}
.energy div h3:hover {
    color:  hsl(35, 77%, 62%);
}

.energy div {
    border-bottom: solid 1px white;
    margin-left: 0px;
    margin-right: 25px;
    margin-bottom: 0;

}
.energy p {
    font-size: 13px;
    color: hsl(233, 8%, 79%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
}
.energy .downsides h3 {
    color: white;
}

.is {
    border-style: none !important;
}
.lap {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
    
    
}
.lap div {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.lap div div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
}
.lap div img {
    max-width: 100%;
    height: 100px;
}
.lap h1 {
    font-size: 25px;
    margin: 0;
    color: hsl(233, 8%, 79%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.lap h3 {
    font-size: 10px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(240, 100%, 5%);
    font-weight: bold;
    transition: 0.4s;
}
.lap h3:hover {
    color: hsl(35, 77%, 62%);
}

.lap p {
    font-size: 10px;
    color: hsl(236, 13%, 42%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
@media (max-width:1030px) {
    body {
        padding:0
    }
}
@media (max-width: 600px) {
    .navbar .lists {
        display: none !important;
    }
    .list {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    .list li {
        margin-bottom: 20px;
        
    }
    .list a {
        text-decoration: none;
        font-size: 20px;
        color: hsl(236, 13%, 42%);
        font-family: sans-serif;


    }
    .navbar .icon {
        display: flex;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .lap {
        flex-wrap: wrap;
        justify-content: flex-start;
        
        
    }
    .lap h3 {
        font-size: 15px;
    }
    .lap p{
        font-size: 13px;
    }
    .lap img {
        height: 130px !important;
    }

   
}
@media (max-width:450px) {
    .navbar {
        margin-bottom: 10px;
    }
   
    .desc {
        flex-direction: column;
   
    }
    .desc .title {
        width: 100%;
        
    }
    .desc .title h1 {
        text-align: center;
        font-size: 35px;

    }
    .desc .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
      
    }
    .desc .text button {
        width: 40%;
        margin-bottom: 20px;
     
    }
    .desc p {
        text-align: center;
    }
    .energy {
        margin-left: 0;
    }
}